.env
__pycache__/
*.pyc
etc/
error_log/
# data/
triviaQA/
slurm/
results/TOFU/world_facts/old

# disregard PopQA until experiments are re-run
results/PopQA

trivia_qa.jsonl

data/PopQA/

data/trivia_qa/trivia_qa.jsonl